apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: mqtt

# set namespace
namespace: crk8s-system

# Example configuration for the webserver
# at https://github.com/monopole/hello
# commonLabels:
#   app: nginx

# resources:
# Example configuration for the webserver
# at https://github.com/monopole/hello
# namePrefix: dev-
# commonLabels:
#   app: nginx
#   variant: lopez

resources:
- ../../base
# - mqtt-pv.yaml
- crk8s-server-iot-sealed.yaml
- mqtt-configmap.yaml

patches:
  # change configmap names to account for s/n suffix
  # - path: mqtt-deployment.yaml
  #   target: 
  #     kind: Deployment
  #     name: mqtt
  - target:
      kind: PersistentVolumeClaim
      name: mqtt-pvc
    patch: |-
      - op: remove 
        path: /spec/volumeName
