apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: redis

# setup namespace
namespace: crk8s-system

# configMapGenerator:
#   - behavior: merge
#     name: argocd-cm
#     namespace: argocd
#     literals:
#       - kustomize.buildOptions=--enable-helm

helmCharts:
- name: redis
  repo: https://charts.bitnami.com/bitnami
  # version: 1.2.3
  releaseName: redis
  namespace: crk8s-system
  valuesFile: redis-values.yaml # Use a file for overrides
  # Alternatively, use inline values:
  # values:
  #  somekey: "somevalue"
  #  anotherkey:
  #    nested: "value"
